body{
  background: #586ad0;
}
a{
    text-decoration: none;
    color: #f0f8ff;
}
#shadow,.today,.wind,.week{
  background: linear-gradient(90deg, rgb(115, 162, 252) 31%, rgb(67, 10, 224) 100%);
  color: #f0f8ff;
  border: 1px solid rgba(71, 221, 226, 0.74);
  border-radius: 7px;
  padding: 30px;
}
.week{
  background: linear-gradient(90deg, rgb(115, 162, 252) 31%, rgb(67, 10, 224) 100%);
  color: #f0f8ff;
  border: 1px solid rgba(71, 221, 226, 0.74);
  border-radius: 7px;
  padding: 5px;
}
.container{
    padding: 30px 0 30px 0;
}
.weather,.current_weather {
    text-align: center;
}
#current_town{
    font-size: 75px;
    font-weight: 100;
}
.emoji{
  min-width: 250px;
  min-height: 200px;
}
.temperature{
    font-size: 75px;
    font-weight: 100;
}
.measure{
  position: relative;
  font-size: 26px;
  font-weight: 100;
  top: -34px;
}
#current_date{
    font-size: 20px;
    font-weight: 100;
}
.himidity{
  font-size: 55px;
  font-weight: 100;
}

  ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .sat,.sun,.mon, .tue,.wed {
    text-align: center;
    padding: 5px;
    margin: 10px;
  }
  .today{
    justify-content: space-around;
  }
  .link{
    text-align: left;
    margin-left: 200px;
  }
  .text-link{
    color:rgba(22, 22, 132, 0.914);
  }