body{
  background: #586ad0;
}
a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}
ul{
  padding-top: 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
p{
  color: rgba(255,255,255,0.5);
}
.btn-grd-disabled{
    background-size: 200% auto;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    color: #fff;
}
.btn-grd-disabled:hover {
  background-position: right center;
 }
 .btn-grd-disabled {
  background-image: -webkit-gradient(linear, left top, right top, from(#77aaff), color-stop(51%, #0764ff), to(#77aaff));
  background-image: linear-gradient(to right, #77aaff 0%, #0764ff 51%, #77aaff 100%);
 }
#shadow,.today,.wind,.week{
  background: linear-gradient(90deg, rgb(115, 162, 252) 31%, rgb(67, 10, 224) 100%);
  color: #f0f8ff;
  border: 1px solid rgba(71, 221, 226, 0.74);
  border-radius: 7px;
  padding: 30px;
}
.week{
  background: linear-gradient(90deg, rgb(115, 162, 252) 31%, rgb(67, 10, 224) 100%);
  color: #f0f8ff;
  border: 1px solid rgba(71, 221, 226, 0.74);
  border-radius: 7px;
  padding: 5px;
}
.container{
    padding: 30px 0 30px 0;
}
.weather,.current_weather {
    text-align: center;
}
#current_town{
    font-size: 75px;
    font-weight: 100;
}
.emoji{
  min-width: 250px;
  min-height: 200px;
}
.temperature{
    font-size: 75px;
    font-weight: 100;
}
.measure{
  color: rgba(255,255,255,0.5); 
  position: relative;
  font-size: 26px;
  font-weight: 100;
  top: -34px;
}
#current_date{
    font-size: 20px;
    font-weight: 100;
}
.himidity,.speed,.deg,.max,.min,.pressure{
  font-size: 55px;
  font-weight: 100;
}
.tem_max,.tem_min{
  position: relative;
  font-size: 16px;
  top: -28px;
}
  .sat,.sun,.mon, .tue,.wed {
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 35px;
    font-weight: 100;
  }
  .today_text{
    color: rgba(255,255,255,0.5);
    padding: 10px 0 20px 50px;
  }
  
  .today,.wind{
    justify-content: space-around;
    min-width: 250px;
  }
  .link{
    color: rgba(255,255,255,0.5);
    text-align: left;
    margin-left: 200px;
  }
  .text-link{
    color:rgba(22, 22, 132, 0.914);
  }